.header{
    background-color:brown; 
    color:bisque;
}

img{
align-items:center;
justify-content:center;
  height:70px;
}
.spacer {
  flex: 1 1 auto;
}
.app-title {
  font-weight: bold;
  font-size: 1.2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}